.tool-bar {
    margin: 30px;
}

button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0 10px;
    padding: 5px 15px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.bar-container {
    height: 90vh;
}

.array-bar {
    display: inline-block;
    vertical-align: top;
    height: 50vh;
}